[submodule "pgplot/jsdriv_server"]
	path = pgplot/jsdriv_server
	url = https://github.com/saroun/jsdriv_server
[submodule "mcplio/mcpl"]
	path = mcplio/mcpl
	url = https://github.com/mctools/mcpl
[submodule "3rdparty/mcpl"]
	path = 3rdparty/mcpl
	url = https://github.com/mctools/mcpl
[submodule "jsdriv_server"]
	path = jsdriv_server
	url = https://github.com/saroun/jsdriv_server
